/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* index.css 및 App.css 공통 적용 */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;    /* vh 대신 100%를 사용하여 부모로부터 높이를 상속받음 */
  width: 100%;
  overflow: hidden; /* 페이지 전체 스크롤 방지 */
}

* {
  box-sizing: border-box; /* 패딩이 높이에 영향을 주지 않도록 함 */
}